body{
    margin: 0;
    padding: 0;
  }
  
  .zoom{
      transition: transform .5s;
  }
  
  .zoom:hover{
      transform: scale(1.08);
  }
  
  .abc{
    position: relative;
  }
  
  .abc .con {
    position: absolute; /* Position the background text */
    top:30%;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
  }
  
  