{% extends 'main_app/index.html' %}
{% load static %}
{% block style %}
<style>
</style>
{% endblock style %}
{% block content %}
<h3 class="mt-4 text-center">{{ recipe_item.title }}</h3>
<div class="container mt-4">
  <form class="row jotform-form" method="post" action="../../add-review/" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-md-6">
      <div class="card" style="width: 35rem;">
        <div class="form-group">
          <fieldset class="border p-2 mx-4 my-2">
            <legend class="w-auto">
              <h5>Basic Recipe Info:</h5>
            </legend>
            <div class="form-row text-center">
              <div class="col-md-6 font-weight-bold">
                <p>Category:</p>
              </div>
              <div class="col-md-6">
                <button class="btn btn-sm btn-{{ btn_color }} font-weight-bold ">{{ food_cat }}</button>
              </div>
              <div class="col-md-6 font-weight-bold">
                <p>Health Score:</p>
              </div>
              <div class="col-md-6">
                <p class="card-text">{{ recipe_item.healthScore }}</p>
              </div>
              <div class="col-md-6 font-weight-bold">
                <p>Ready in Minutes:</p>
              </div>
              <div class="col-md-6">
                <p class="card-text">{{ recipe_item.readyInMinutes }}</p>
              </div>
            </div>
          </fieldset>
        </div>
        {% if cal %}
        <div class="form-group">
          <fieldset class="border p-2 mx-4 my-2">
            <legend class="w-auto">
              <h5>Recipe Stats:</h5>
            </legend>
            <div class="form-row text-center">
              <div class="col-md-6 font-weight-bold">
                <p>Calories:</p>
              </div>
              <div class="col-md-6">
                <a class="btn btn-sm btn-dark" style="cursor: text;width: 4.5rem;">{{ cal }} {{ unit_c }}</a>
              </div>
              <div class="col-md-6 font-weight-bold">
                <p>Protein:</p>
              </div>
              <div class="col-md-6">
                <a class="btn btn-sm btn-dark" style="cursor: text;width: 4.5rem;">{{ protein }} {{ unit_p }}</a>
              </div>
              <div class="col-md-6 font-weight-bold">
                <p>Carbohydrates:</p>
              </div>
              <div class="col-md-6">
                <a class="btn btn-sm btn-dark" style="cursor: text;width: 4.5rem;">{{ carbs }} {{ unit_ca }}</a>
              </div>
              <div class="col-md-6 font-weight-bold">
                <p>Fats:</p>
              </div>
              <div class="col-md-6">
                <a class="btn btn-sm btn-dark" style="cursor: text;width: 4.5rem;">{{ fats }} {{ unit_f }}</a>
              </div>
              <div class="col-md-6 font-weight-bold">
                <p>Cholestrol:</p>
              </div>
              <div class="col-md-6">
                <a class="btn btn-sm btn-dark" style="cursor: text;width: 4.5rem;">{{ cholestrol }} {{ unit_ch }}</a>
              </div>
            </div>
          </fieldset>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-6" style="text-align: center;">
      <h5> Food Image: </h5>
      <img src="{{ recipe_item.image }}" alt="recipe_pic" style="width: 90%;">
    </div>
    <div class="col-md-12 my-4" style="text-align: center;">
      <div class="card mb-2 p-4">
        <h4> Instructions: </h4>
        {% if steps|length > 1 %}
        {% for i in steps %}
        <div class="form-row mt-4">
          <div class="col-md-2 font-weight-bold">
            <p>Step: {{ forloop.counter }}</p>
          </div>
          <div class="col-md-10">
            <p>{{ i.step }}</p>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-md-10" style="text-align: left;">
          <p>{{ steps.0|linebreaks }}</p>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-12 my-4" style="text-align: center;">
      <div class="card mb-2 p-4">
        <h4> Video Links: </h4>
        {% if vd %}
        {% for i in vd %}
        {% if i.youTubeId|length %}
        <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ i.youTubeId }}">
        </iframe>
        {% else %}
        <p class="mt-4 text-center">No Videos to Display for this Recipe!</p>
        {% endif %}
        {% endfor %}
        {% else %}
        <p class="mt-4 text-center">No Videos to Display for this Recipe!</p>
        {% endif %}
      </div>
    </div>

    {% if not cal %}
    <div class="col-md-12 my-4" style="text-align: center;">
      <div class="card mb-2 p-4">
        <h4> Reviews: </h4>
        {% if reviews|length > 0 %}
        {% for review in reviews %}
        <div class="mt-4" style="text-align: left;">
          <div class="col-md-2 font-weight-bold">
            <p class="mb-0">{{ review.user }}:</p>
          </div>
          <div class="col-md-2">
            <p>{{ review.text }}</p>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <h2 class="mt-4 text-center">No Reviews to Display for this Recipe!</h2>
        {% endif %}
      </div>
    </div>
    <div class="col-md-12 my-4" style="text-align: center">
      <div class="card mb-2 p-4">
        <h4>Add Review</h4>

        <div class="form-group">
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="4"
            name="text">
          </textarea>
          <br />
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
        <input type="hidden" name="recipe_id" value={{ recipe_item.pk }}>
        
      </div>
    </div>
    {% endif %}

  </form>
</div>
{% endblock content %}