{% extends 'main_app/index.html' %}
{% load static %}
{% block content %}
<div class="container mt-4" style="max-width: 70%;">
{% if review %}
<script>
    setTimeout(function(){
         window.location.href = `{% url 'recipe_detail' pk %}?recipe_type=0`;
    }, 3000);
</script>
<h2 class="mt-4 text-center">Thanks for your review.</h2>
<br>
<h2 class="mt-4 text-center">Redirecting...</h2>
{% else %}
<h2 class="mt-4 text-center">Something went wrong, try again after sometime.</h2>
{% endif %}
{% endblock content %}