{% extends "main_app/index.html" %}
{% load crispy_forms_tags %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-warning font-weight-bold" id="H">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">SatiateYourHunger</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'find_recipe' %}">Find Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
    </div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a href="{% url 'logout' %}" class="btn btn-outline-danger">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container" style="max-width: 50%;">
    <div class="card px-4 py-2 my-4">
        <div class="media">
        <img class="rounded-circle account-img" style="border: 3px solid black;" src="{{ user.profile.image.url }}" height="125" width="125">
        <div class="media-body">
            <h2 class="account-heading ml-3">{{ user.username }}</h2>
            <p class="text-secondary ml-3">{{ user.email }}</p>
        </div>
        </div>
        <!-- FORM HERE -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 pt-2">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group text-center">
                <button class="btn btn-outline-success" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>
<div class="container mb-4" style="max-width: 70%;">
<h2 class="text-center mb-4">Your Recent Searches</h2>
    {% if not recent_searches %}
    <div class="card mb-4">
        <div class="card-body">
        <h5 class="card-title text-center">You have no searches yet!</h5>
        </div>
    </div>
    {% else %}
    <table class="table table-bordered table-hover text-center">
        <thead>
          <tr class="bg-success text-white">
            <th scope="col">S.No.</th>
            <th scope="col">Ingredients</th>
            <th scope="col">Preference</th>
            <th scope="col">Hunger Level</th>
          </tr>
        </thead>
        <tbody>
        {% for i in recent_searches %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ i.ingredients }}</td>
            <td>{{ i.food_cat }}</td>
            <td>{{ i.hunger_level }}</td>   
        {% endfor %}
        </tbody>
      </table>
    </div>
      {% endif %}
{% endblock content%}